@use '../../Assets/Fonts/fonts.scss';
@use '../../Styles/variables.scss';

.map-page-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: variables.$background-color;
}

.map-page-body-container {
  background-color: #fff;
  max-width: 1360px;
  margin: 0 auto;
  padding: 3rem 2rem 4rem 2rem;
}

.map-page-title {
  font-size: 2rem;
  font-weight: 700;
  color: variables.$primary-color;
  margin-bottom: 0.5rem;
}

.map-page-subtitle {
  color: #4A5568;
  margin-bottom: 2rem;
}
