@use '../../Assets/Fonts/fonts.scss';
@use '../../Styles/variables.scss';

.methodology-directory-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: variables.$background-color;

  .methodology-body-container {
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 30px 5vw 60px 5vw;

    .methodology-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: variables.$title-text-color;
      font-family: 'MuseoSans';
    }

    .methodology-sub {
      color: variables.$title-text-color;
      padding-bottom: 20px;
    }

    .methodology-filters {
      margin-bottom: 20px;
    }

    .methodology-description {
      color: variables.$title-text-color;
      padding: 8px 12px;

      p {
        margin-bottom: 0.5rem;
      }

      small,
      .methodology-policy-note {
        color: #718096;
      }
    }

    .methodology-policy-note {
      margin-top: 1rem;
      color: #718096;
      font-size: 0.9rem;
    }
  }
}
