@use '../../Assets/Fonts/fonts.scss';
@use '../../Styles/variables.scss';

.register-company-container {
      .image-container {
        background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.3) 10%,
            rgba(22, 177, 255, 0.4) 40%),
          url('../../Assets/Images/factory.webp');
        background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.3) 10%,
            rgba(22, 177, 255, 0.4) 40%),
          image-set('../../Assets/Images/factory.png'type('image/png'),
            '../../Assets/Images/factory.webp'type('image/webp'));
        background-size: cover;
      }
    
      .homepage-img-container {
        height: 100vh;
        background-position-x: 100%;
        background-position-y: 100%;
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        flex: 1;
        text-align: left;
    
        .header-row {
          @media (max-width: 536px) {
            flex-flow: row;
          }
        }
    }
}